html, body {
  height: 100%;
  width: 100%;
  color: $text-color;
}

header {
  padding: 5px 50px 10px;
  background-color: $header-color;

  h3 {
    color: white;
  }
}

[ng-view] {
  padding: 20px 50px;
}

.searched-image-container {
  margin-top: 10px;
}
